html {
  width: 100vw;
}

.vertical-center {
  min-height: calc(100% - 58px);  /* Fallback for browsers do NOT support vh unit */
  min-height: calc(100vh - 58px); /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
body {
  background-color: inherit;
  /* color: #212121; */
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
li {
  word-wrap: none;
  white-space: nowrap;
}
.wrap-all{
  word-wrap: break-word;
  white-space: normal;
}
ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}